page-signup {
    ion-content{
        background-image: url('../assets/imgs/background.jpg');
        
       .form ion-item{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
       }
    }
    .imglogo{
        background-attachment: fixed;
    }

}
